<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (C) 2013 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transfer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCuij0OlmAZoEAVyevquCenwmk5gwXRMOw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.transfer.GovActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.example.transfer.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.transfer.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.transfer.Firstpage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.transfer.Sildermenu"
            android:label="@string/title_activity_sildermenu" >
        </activity>
        <activity android:name="com.example.transfer.Reminder" >
        </activity>
        <activity android:name="com.example.transfer.Datepicker" >
        </activity>

        <activity android:name="com.example.transfer.Search" >
        </activity>
        
        <activity android:name="com.example.transfer.SearchResult" >
        </activity>
        
        <activity
            android:name="com.example.transfer.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <service
            android:name="com.example.transfer.ReceiveUpdatesIntentService"
            android:exported="false"
            android:label="@string/app_name" >
        </service>
    </application>

</manifest>